.content2{
    width: 100%;
    background: rgba(255, 255, 255, 0.664);
    margin: 200px auto 0;
    border-radius: 20px;
    padding: 100px;
  }

table, td, th {  
    border: 1px solid black;
    text-align: left;
    background: rgb(97, 0, 0);
    font-size: 20px;
    font-family: 'Gochi Hand', cursive;
    color: white;
  }
  
table {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    padding: 15px;
  }

.imageDiv{
  margin: 80px auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageDiv img {
  width: 10%;
  height: auto;
}