ul.food-list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

ul.food-list li {
    display: flex;
    flex-direction: column;
}

ul.food-list li header{
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 4px;
}

ul.food-list li strong {
    margin-top: 10px;
    font-size: 24px;
    color: black;
}

div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img {
    display: block;
}
div.show-image img {
    position:absolute;
    display:none;
    width: 15%;
  height: auto;
}
div.show-image img.delete {
    top: -5%;
    right: -5%;
    cursor: pointer;
}

.container img.addFoddImage{
    width: 40%;
    height: auto;
    cursor: pointer;
    color: brown;
}
  

